<!DOCTYPE html>
<html> 
<head>
<meta charset="utf-8" />
<meta name="robots" content="noindex" />
<title>{% block title %}网络小说下载器{% end %}</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<!--[if IE]> 
<style type="text/css">
    #right_column {
    	width: 650px;
        float: left;
</style>
<![endif]-->
{% block head %}{% end %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3020863-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
{% block body %}{% end %}
</body>
</html>