{% extends "base.html" %}

{% block body %}
<form action="" method="post">
    <div>
        <label>小说章节目录地址：</label>
        <input type="text" name="url" size="80" value="" />
        {{ xsrf_form_html() }}
        <input type="submit" value="下载" />
        {% if error is 2 %}
        <strong class="error">章节地址不能为空</strong>
        {% elif error is 3 %}
        <strong class="error">章节地址无效</strong>
        {% elif error is 4 %}
        <strong class="error">暂不支持下载此网站小说</strong>
        {% end %}
    </div>
</form>
{% end %}