/* CSS Document */
@font-face {
font-family: "shucang";
src:local("微软雅黑"),
local("宋体"),
url(msyh.ttf);
}

@font-face {
font-family: "shucang4sony";
src:url(res:///opt/sony/ebook/FONT/tt0003m_.ttf);
}

body {
margin-top:24px;
margin-left:48px;
margin-right:48px;
margin-bottom:24px;
line-height:150%;
font-size:1em;
font-family: "shucang","shucang4sony";
}

p{
font-family:shucang,shucang4sony;
font-size:1em;
line-height:200%;
margin-bottom:24px;
text-indent: 2em;
}

h2{
margin-top:48px;
margin-bottom:48px;
text-align:center;
font-weight:bold;
}
a{
text-decoration:none;
}

strong{
font-weight:bold;
}

.book_title{
margin-top:64px;
margin-bottom:24px;
text-align:center;
font-weight:bold;
letter-spacing:4px;
}

.book_author{
text-align:center;
}

.book_cover{
text-align:center;
}

.copyright_dedi{
text-align:center;
}

.p_copyright{
font-size:0.9em;
text-align:center;
}

.title_body{
padding-left:84px;
}

.title_title{
font-size:48px;
font-weight:bold;
}

.title_author{
padding-left:220px;
font-family:Calibri;
font-size:32px;
font-weight:bold;
}

.title_publisher{
margin-top:64px;
font-weight:bold;
}
.title_publisher_places{
font-size:14px;
font-style:italic;
}
.dedication{
text-align:right;
padding-top:240px;
}
.langdon_publish ,.working{
text-align:right;
}

.working{
font-weight:bold;
}

.copyright{
text-align:center;
}

.builder{
text-align:right;
padding-top:240px;
}